<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.everykid">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EveryKid.NoActionBar">
        <activity android:name=".View.ChatActivity"></activity>
        <activity
            android:name=".View.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".View.AccountCreate4"
            android:exported="false" />
        <activity
            android:name=".View.AccountCreate3"
            android:exported="false" />
        <activity
            android:name=".View.AccountCreate2"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"

            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainTeacher"
            android:exported="true"></activity>
        <activity
            android:name=".View.MainParent"
            android:exported="true"></activity>
        <activity
            android:name=".View.AccountCreate"
            android:exported="true"></activity>

    </application>

</manifest>
